<% if check_current_user_notify(spree_current_user) %>
  <div class="notification-box" id="stock-notify-form">
    <%= form_with(model: @stock_notify, url: stock_notify_api_v2_storefront_product_path(product_slug: @product.slug), method: :put, id: 'notify-me-form') do |form| %>
      <%= form.fields_for :stock_notify do |stock_notify_form| %>
        <% unless spree_current_user.present? %>
          <%= stock_notify_form.text_field :email, placeholder: 'Enter your email address', class: 'p-2 mb-2 mt-2', required: true %>
        <% else %>
          <%= stock_notify_form.hidden_field :email, value: spree_current_user.email %>
          <%= stock_notify_form.hidden_field :user_id, value: spree_current_user.id %>
        <% end %>
        <%= stock_notify_form.hidden_field :variant_id, value: @product.master.id, id:'stock_notify_variant_id'%>
      <% end %>
      <%= form.submit Spree.t(:notify_me_button), class: 'btn btn-secondary', id: 'notify-me-button' %>
    <% end %>
    <div class="text-center mb-1 mt-1">Sold Out!</div>
     <span class="mt-2 mb-2"> <%= Spree.t(:click_notify_me) %> </span>
  </div>
<% elsif !@product.in_stock? %>
  <div class="mb-1 mt-1 text-bold text-danger">Already Subscribed For Notify</div>
<% end %>
<div class="mb-1 mt-1 text-bold text-danger d-none" id= "already-subscribed">Already Subscribed For Notify</div>
